body {
  background-color: rgb(215, 215, 215);
}

#view-my-projects-button {
  display: none;
}

#create-project-button {
  display: none;
}

#link-photo-button {
  display: none;
}

#logout-button {
  display: none;
}

#login-form-container {
  display: block;
}

#sign-up-container {
  display: block;
}

#projects-container {
  display: none;
}

#my-projects-container {
  display: none;
}

#create-project-container {
  display: none;
}

#edit-project-container {
  display: none;
}

#project-photos-container {
  display: none;
}

